body.dark-mode {
	--clr-primary: #0f79e4;

	--clr-white-2: #adadad;

	--clr-gray: #727272;

	--clr-background: #1a1a1a;
}

.css {
	&-switch {
		// &-input {
		// 	&:checked {
		// 		+ .css-switch-label {
		// 			background-color: var(--clr-primary);
		// 			opacity: 0.5;
		// 		}

		// 		~ .css-switch-ball {
		// 			transform: translate(12px, -50%);
		// 			background-color: var(--clr-primary);
		// 		}
		// 	}
		// }

		&-container {
			position: relative;
			height: 20px;
			display: flex;
			align-items: center;
			width: 30px;
		}

		&-input {
			position: absolute;
			opacity: 0;
		}

		&-label {
			display: block;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
			border-radius: 8px;
			height: 12px;
			width: 28px;
			background-color: var(--clr-gray);
			position: relative;
			transition: background-color linear 80ms;
		}

		&-ball {
			background-color: var(--clr-white-2);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
			display: block;
			height: 16px;
			transition: left linear 80ms, background-color linear 80ms;
			width: 16px;
			z-index: 1;
			pointer-events: none;

			&.active {
				left: 14px;
			}

			// &-dark-mode {
			// 	&.active {
			// 		left: 14px;
			// 	}
			// }
		}
	}
}
